<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Cloudy</title>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="dropzone-5.7.0/dist/dropzone.css">
<link rel="stylesheet" href="dropzone-5.7.0/dist/basic.css">